# [MAIL]
# MAIL_SERVER = 'smtp.gmail.com'
# MAIL_PORT = 587
# MAIL_USE_TLS = True
# # MAIL_USERNAME = 'cynthiasamuels98@gmail.com'
# MAIL_USERNAME = 'chidnos2@gmail.com'
# # MAIL_PASSWORD = 'Momfeb142007@'
# MAIL_PASSWORD = 'Inc2024rease!'
# # MAIL_DEFAULT_SENDER = 'cynthiasamuels98@gmail.com'
# MAIL_DEFAULT_SENDER = 'chidnos2@gmail.com'