/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.question-container {
    max-width: auto;
    /* margin: 0 auto; */
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    color: #444;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

label {
    /* display: block; */
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media query for responsiveness (adjust as needed) */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
.progress-container {
    width: 100%;
    background-color: #ddd;
    
}
.question-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 500px;
    /* align-self: center; */
    margin: auto;
}
.controls{
    text-align: center;
}
.controls-logout{
    text-align: center;
    
}
.logout-button{
    background-color: #da710f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
label {
    cursor: pointer;
    font-size: 24px;
}

.question-subsection{
    padding-top: 20px;
}
/* Define the default color for the emojis and options */
#subsection-1 label,
#subsection-2 label {
    cursor: pointer;
    font-size: 24px;
    color: orange; /* Default color */
}

/* Define the color for the emojis and options when hovered over */
#subsection-1 label:hover,
#subsection-2 label:hover {
    color: green;
}

/* Define the color for the emojis and options when checked */
#subsection-1 input[type="radio"]:checked + label,
#subsection-2 input[type="radio"]:checked + label {
    color: green;
}

#subsection-2{
    background-color: lightgray;
}
#subsection-3{
    background-color: lightcyan;
}
/* Hide the actual radio buttons */
input[type="radio"] {
    display: none;
}
.progress-bar {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    
}
#divider {
	height: 2px;
	width: 100%;
    align-self: center;
	background: blue;
	background: linear-gradient(90deg, hsl(0, 0%, 20%), hsl(0, 0%, 70%), hsl(0, 0%, 20%));
}

.dialect-options {
    display: flex;
    gap: 400px; /* Adjust the gap as needed */
}

.dialect-options label {
    cursor: pointer;
    font-size: 24px;
    color: orange; /* Default color */
}

.dialect-options label:hover {
    color: green;
}

.dialect-options input[type="radio"]:checked + label {
    color: green;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }