<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="banner">
        <img src="{{ url_for('static', filename='depa_banner1.jpg') }}" alt="Logo" class="logo">
    </div>
<div class="ptr">
    
    <div class="container">
        <div class="inclusive">
            <div class="button-container">
                <a href="{{ url_for('login') }}" class="login-button">Login</a>
                <a href="{{ url_for('register') }}" class="register-button">First time here</a>
            </div>
            <div class="head">
                <h1>Welcome to "Detecting Bias in African American lexicon: Accessing Language Model Disparities" Research project</h1>
            </div>
            <div class="text">
            </div>
            <div class="item-container">
                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <!-- <img src="https://cdn-icons-png.flaticon.com/512/1527/1527553.png" alt=""> -->
                            <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/test-passed.png" alt="test-passed"/>
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Purpose of Survey</h3>
                            </div>
                            <div class="item-box-p">
                                This survey aims to collect accurate text data representative of African Americans from Baltimore and/or New York 
                                while investigating the presence of bias within the lexicon of African American English and understanding how words 
                                and phrases are associated with different sentiments.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <!-- <img src="https://cdn-icons-png.flaticon.com/512/1527/1527553.png" alt=""> -->
                            <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/user-female--v2.png" alt="user-female--v2"/>
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Anonymity and Confidentiality</h3>
                            </div>
                            <div class="item-box-p">
                                Rest assured that your responses are completely anonymous. We will not collect any personally identifiable information, and your participation will remain confidential.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <!-- <img src="https://cdn-icons-png.flaticon.com/512/1527/1527553.png" alt=""> -->
                            <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/sustainability.png" alt="sustainability"/>
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Survey Content</h3>
                            </div>
                            <div class="item-box-p">
                                You will be presented with a series of texts, phrases, or sentences.
                             Your task is to assess the sentiment associated with each one and provide alternative text if it is not representative of your speech culture.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <!-- <img src="https://cdn-icons-png.flaticon.com/512/1527/1527553.png" alt=""> -->
                            <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/cursor.png" alt="cursor"/>
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Options</h3>
                            </div>
                            <div class="item-box-p">
                                Use the options provided to indicate whether you perceive each text as having a positive, negative, or neutral sentiment.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <!-- <img src="https://cdn-icons-png.flaticon.com/512/1527/1527553.png" alt=""> -->
                            <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/handshake--v3.png" alt="handshake--v3"/>
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Honesty is key</h3>
                            </div>
                            <div class="item-box-p">
                                Please be as honest and unbiased as possible when evaluating the sentiments in the texts. Your honesty will ensure that there is fairness in the African American community
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <!-- <img src="https://cdn-icons-png.flaticon.com/512/1527/1527553.png" alt=""> -->
                            <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/thumb-up--v4.png" alt="thumb-up--v4"/>
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Thank You!</h3>
                            </div>
                            <div class="item-box-p">
                                Your participation in this research project is greatly appreciated. Register or Login above to begin the survey and contribute to this important research.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
