<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='text.css') }}">
</head>
<body>
<div class="ptr">
    <div class="container">
        <div class="inclusive">
            <div class="head">
                <h1>Welcome to "Detecting Bias in African American lexicon: Accessing Language Model Disparities" Research project</h1>
            </div>
            <div class="text">
                <!-- <p>Over time, even the most sophisticated, memory packed computer can begin <br>
                to run slow if we don't do something to prevent it.
                </p> -->
            </div>
            <div class="item-container">
                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <img src="https://cdn-icons-png.flaticon.com/512/1527/1527553.png" alt="">
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Purpose of Survey</h3>
                            </div>
                            <div class="item-box-p">
                                his survey aims to investigate the presence of bias within the lexicon of African American English and understand how words and phrases are associated with different sentiments.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <img src="https://cdn-icons-png.flaticon.com/512/639/639364.png" alt="">
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Anonymity and Confidentiality</h3>
                            </div>
                            <div class="item-box-p">
                                Rest assured that your responses are completely anonymous. We will not collect any personally identifiable information, and your participation will remain confidential.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <img src="https://cdn-icons-png.flaticon.com/512/1527/1527553.png" alt="">
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Survey Content</h3>
                            </div>
                            <div class="item-box-p">
                                You will be presented with a series of texts, phrases, or sentences. Your task is to assess the sentiment associated with each one.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <img src="https://cdn-icons-png.flaticon.com/512/639/639364.png" alt="">
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Options</h3>
                            </div>
                            <div class="item-box-p">
                                Use the options provided to indicate whether you perceive each text as having a positive, negative, or neutral sentiment.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-box-ctn">
                        <div class="image-wrapper">
                            <img src="https://cdn-icons-png.flaticon.com/512/1527/1527553.png" alt="">
                        </div>
                        <div class="item-box-texts">
                            <div class="item-box-head">
                                <h3>Honesty is key</h3>
                            </div>
                            <div class="item-box-p">
                                Please be as honest and unbiased as possible when evaluating the sentiments in the texts.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
